.dest-wrap {
    height: 90px;
    padding: 10px 0;
    text-align: center;

    h2 {
        font-size: 12px;
        text-align: center;
        margin: 4px 0 0 0;
        padding: 0;
        font-weight: normal;
        color: #ddd;
    }

}
